@charset "utf-8"
*{
    font-family: Arial, Helvetica, sans-serif;
/*height: 100%; */
}
body{ 
    background-image: linear-gradient(to left, #D914A4, #220540);
}
    main{
        background-color: #0F0AA6;
        width: 800px;
        padding: 20px;
        border-radius: 10px;
        box-shadow:10px 10px 10px #120373;
        margin:auto
    }
    h1{color: #D914A4;}
    h2{color: #220540}
p{
text-align: justify;
color: #D914A4;
}